@charset "UTF-8";
*{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background: rgb(182, 252, 250);
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: purple;
	font-weight: 600;
	gap: 30px;
}
a{
	text-decoration: none;
	color: #fff;
	background: rgb(100, 100, 255);
	padding: 7px 20px;
	border-radius: 7px;
}
#check{
	text-decoration: none;
	color: #fff;
	background: rgb(100, 100, 255);
	padding: 7px 20px;
	border-radius: 7px;
	margin-top: 40px;
	float: right;
}